#ctrContent aside .widget {
  height: 334px;
  background-color: #fff;
  border: 1px solid #a0aeb3;
}

#ctrContent section aside .widget header {
  background-color: #cbd2d5;
  border: 1px solid #a0aeb3;
  height: 34px;
}

#ctrContent section aside .widget header span{
  float: left;
  margin-left: 10px;
  line-height: 34px;
  color: #000;
  font-weight: bold;
}

#ctrContent section aside .widget-body {
  height: 300px;
  border-width: 0px 1px 2px 1px;
  border-color: #ccc;
}