#ctrContent .widget form .row {
  display: block;
  padding-top: 15px;
}

#ctrContent .widget form .row label {
  text-align: right;
  width: 25%;
  padding-top: 7px;
  float: left;
}

#ctrContent .widget form .row input {
  width: 50%;
  float: left;
  margin-left: 20px;
  padding-top: 7px;
}

#ctrContent .widget form .row .radio-buttons-group input[type=radio] {
  width: auto;
  margin-top: 8px;
  margin-left: 5px;
}

#ctrContent .widget form .row .radio-buttons-group label{
  width: 12.5%;
}

#ctrContent .widget form .row::after{
  content: '';
  display: block;
  clear: both;
}

#ctrContent .widget .form-actions {
  display: block;
  border-top: 1px solid rgba(0,0,0,.1);
  background-color: rgba(249,249,249,.9);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}

#ctrContent .widget .form-actions input{
  float: right;
  margin: 10px 10px auto auto;
  background-color: rgba(87,136,156,0.85);
  color: #fff;
  border: 1px solid transparent;
  padding: 6px 12px;
  cursor: pointer;
}

#ctrContent .widget .form-actions input:hover{
  background-color: rgba(87,136,156,1);
  transition: background-color 0.5s;
}