#ctrContent aside .widget {
  background-color: #fff;
  border: 1px solid #a0aeb3;
  width: 95%;
  height: 100%;
}

#ctrContent section aside .widget header {
  background-color: #cbd2d5;
  border-bottom: 1px solid #a0aeb3;
  height: 10%;
}

#ctrContent section aside .widget header span{
  float: left;
  margin-left: 10px;
  line-height: 34px;
  color: #000;
  font-weight: bold;
}

#ctrContent section aside .widget-body {
  height: 90%;
  border-width: 0px 1px 1px 1px;
  border-color: #ccc;
}